.wrap {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: fixed;
    width: 100%;
}
.wrap input[type=text],
.wrap input[type=email],
.wrap input[type=password] {
    flex: 1;
    padding: .7rem .7rem;
    font-size: 1.42rem;
    margin: 0.45rem;
}